page-home {
    .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-xia-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-lefttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 25%;
    color: #fff;
  }
  .card-pian-lefttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 50%;
    color: #fff;
  }
  .card-center-lefttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 75%;
    color: #fff;
  }
  .card-center-righttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 125%;
    color: #fff;
  }
  .card-pian-righttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 150%;
    color: #fff;
  }
  .card-righttitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 175%;
    color: #fff;
  }
  .card-centertitle {
    font-size: 1.0em;
    position: absolute;
    top: 65%;
    width: 100%;
    color: #fff;
  }
  .card-xia-lefttitle {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 25%;
    color: #fff;
  }
  .card-xia-centertitle {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 100%;
    color: #fff;
  }
  .card-xia-righttitle {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 175%;
    color: #fff;
  }
    }
    
}
